[workspace]
name = "neotest-rust"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64", "win-64"]

[tasks]
install = 'nvim -l tests/busted.lua --version'
update = 'nvim -l tests/busted.lua --update'
test = 'nvim -l tests/busted.lua tests/'

[dependencies]
cargo-nextest = "*"
rust = "*"
tree-sitter-cli = "*"

[target.unix.dependencies]
luarocks = "*"

[environments]
nvim-010 = ["nvim-010"]
nvim-011 = ["nvim-011"]

[feature.nvim-010]
platforms = ["linux-64", "osx-arm64"]

[feature.nvim-010.dependencies]
nvim = "0.10.*"

[feature.nvim-010.activation.env]
LAZY_STDPATH = ".lazy/nvim-010"

[feature.nvim-011.dependencies]
nvim = "0.11.*"

[feature.nvim-011.activation.env]
LAZY_STDPATH = ".lazy/nvim-011"
