[workspace]
name = "neotest-rust"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64"]

[activation.env]
LAZY_STDPATH = ".pixi/lazy"

[tasks]
install = 'nvim -l tests/busted.lua --version'
update = 'nvim -l tests/busted.lua --update'
test = 'nvim -l tests/busted.lua tests/'

[dependencies]
cargo-nextest = "*"
luarocks = "*"
rust = "*"
tree-sitter-cli = "*"

[environments]
nvim-010 = ["nvim-010"]
nvim-011 = ["nvim-011"]

[feature.nvim-010.dependencies]
nvim = "0.10.*"

[feature.nvim-011.dependencies]
nvim = "0.11.*"
