[workspace]
name = "neotest-rust"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64"]

[activation.env]
LAZY_STDPATH = ".pixi/lazy"

[tasks]
install = 'nvim -l tests/busted.lua --version'
update = 'nvim -l tests/busted.lua --update'
test = 'nvim -l tests/busted.lua tests/'

[dependencies]
cargo-nextest = "*"
luarocks = "*"
nvim = "*"
rust = "*"
